*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
    margin: 0;
}
.header {
    padding: 60px;
    text-align: center;
    background: red;
    color: aliceblue;
}
.navbar{
    display: flex;
    background-color: blue;
}
.navbar a:hover{
    color: #ddd;
    color: black;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: blue;
    padding: 20px;
}
.main{
    flex: 70%;
    background-color: #ddd;
    padding: 20px;
}

.fakeimg{
    background-color: #aaa;
    width: 100%;
    padding: 20%;
}
.footer{
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 700px) {
    .row, .navbar{
        flex-direction: column;
    }
}